/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/
