/* Full slide backgrounds */
.slide.full-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

.slide.full-background.test {
  background-image: url(../images/test.png);
}


/* image attribution with service logos */
.attribution {
  font-size: 24px;
  position: fixed;
  bottom: 8px;
  left: 40px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

.attribution.flickr {
  background: url(../images/flickr.png) left top no-repeat;
  padding-left: 60px;
}

.attribution.cc {
  background: url(../images/cc.large.png) left top no-repeat;
  padding-left: 36px;
}

/* Happy generic hiding class */
.hidden {
  display: none;
}
